.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

# For developing rover-Embedded-Lib
# There has to be a better way of doing this...
!/.pio
/.pio/*
!/.pio/libdeps
/.pio/libdeps/*
!/.pio/libdeps/teensy40
/.pio/libdeps/teensy40/*
!/.pio/libdeps/teensy40/rover-Embedded-Lib